<!DOCTYPE html>
<html lang="en">
<head>
	
	<!--
		Basic
	-->
	<meta charset="UTF-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge" /> 
	<title>Venera Sultan</title>
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
	<meta name="description" content="vCard & Resume Template" />
	<meta name="keywords" content="vcard, resposnive, resume, personal, card, cv, cards, portfolio" />
	<meta name="author" content="beshleyua" />
	
	<!--
		Load Fonts
	-->
	<link href="https://fonts.googleapis.com/css?family=Poppins:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Cormorant+Garamond:300,300i,400,400i,500,500i,600,600i,700,700i&amp;subset=cyrillic" rel="stylesheet">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
	<!--
		Load CSS
	-->
	<link rel="stylesheet" href="css/basic.css" />
	<link rel="stylesheet" href="css/layout.css" />
	<link rel="stylesheet" href="css/blogs.css" />
	<link rel="stylesheet" href="css/line-awesome.css" />
	<link rel="stylesheet" href="css/magnific-popup.css" />
	<link rel="stylesheet" href="css/animate.css" />
	<link rel="stylesheet" href="css/simplebar.css" />
	
	<!-- theme colors -->
	<link rel="stylesheet" href="css/theme-colors/green.css" />
	<!-- <link rel="stylesheet" href="css/theme-colors/blue.css" /> -->
	<!--<link rel="stylesheet" href="css/theme-colors/red.css" />-->
	<!-- <link rel="stylesheet" href="css/theme-colors/orange.css" /> -->
	<!-- <link rel="stylesheet" href="css/theme-colors/pink.css" /> -->
	<!-- <link rel="stylesheet" href="css/theme-colors/purple.css" /> -->
	
	<!--[if lt IE 9]>
	<!-- <script src="http://css3-mediaqueries-js.googlecode.com/svn/trunk/css3-mediaqueries.js"></script>
	<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script> -->
	<![endif]-->
	
	<!--
		Favicons
	-->
	<link rel="shortcut icon" href="images/favicons/favicon.ico">
	
</head>

<body>
	<div class="page">
		
		<!--
			Preloader
		-->
		<div class="preloader">
			<div class="centrize full-width">
				<div class="vertical-center">
					<div class="spinner">
						<div class="double-bounce1"></div>
						<div class="double-bounce2"></div>
					</div>
				</div>
			</div>
		</div>
		
		<!--
			Header
		-->
		<header class="header">

			<!-- logo -->
			<div class="logo">
				<a href="#"><span>V</span></a>
			</div>

			<!-- menu -->
			<div class="top-menu">
				<ul>
					<li class="active">
						<a href="#home-card">
							<span class="icon la la-home"></span>
							<span class="link">Home</span>
						</a>
					</li>
					<li>
						<a href="#about-card">
							<span class="icon la la-user"></span>
							<span class="link">About</span>
						</a>
					</li>
					<li>
						
					</li>
					<li>
						<a href="#works-card">
							<span class="icon la la-eye"></span>
							<span class="link">Portfolio</span>
						</a>
					</li>
					<li>
						
					</li>
					<li>
						<a href="#contacts-card">
							<span class="icon la la-envelope"></span>
							<span class="link">Contacts</span>
						</a>
					</li>
				</ul>
			</div>

			<!-- Started socials -->
			<div class="social">
				
				<a target="_blank" href="https://www.linkedin.com/in/venera-sultan/"><span class="icon la la-linkedin"></span></a>
				<a target="_blank" href="https://github.com/vee180"><span class="icon la la-github"></span></a>
				
			</div>

			<!-- Mobile Menu -->
			<span class="menu-btn">
				<span class="m-line"></span>
			</span>

		</header>

		<!--
			Container
		-->
		<div class="container">

			<!--
				Card - Started
			-->
			<div class="card-inner card-started active" id="home-card">

				<!-- Started Background -->
				<div class="slide" style="background-image: url('https://i.imgur.com/MVhvZ17.jpg');"></div>
				
				<div class="centrize full-width">
					<div class="vertical-center">

						<!-- Started titles -->
						<div class="title"><span>Venera</span> Sultan</div>
						<div class="subtitle">
							I am 
							<div class="typing-title">
								<p>a <strong>web developer.</strong></p>
								<p>a <strong>blogger.</strong></p>
								<p>a <strong>linguist.</strong></p>
							</div>
							<span class="typed-title"></span>
						</div>
						
					</div>
				</div>

			</div>

			<!-- 
				Card - About
			-->
			<div class="card-inner" id="about-card">
				<div class="row card-container">

					<!--
						Card Wrap
					-->
					<div class="card-wrap col col-m-12 col-t-12 col-d-8 col-d-lg-6" data-simplebar>
						
						<!-- About Image -->
						<div class="card-image col col-m-12 col-t-12 col-d-4 col-d-lg-6" style="background-image: url('https://i.imgur.com/zuJ6Zdu.jpg');"></div>
						
						<!--
							Inner Top
						-->
						<div class="content inner-top">
							<div class="row">
								<div class="col col-m-12 col-t-12 col-d-12 col-d-lg-12">
									<div class="title-bg">About Me</div>
									<div class="text">
										<p>
											<strong>Hello, I’m  Venera</strong>, a software engineer based in New York. <br />
											I have a genuine passion for learning, creating,<br />
											and designing web applications.<strong> My goal </strong> is to deliver high-quality solutions that exceed expectations. 
											With a strong focus on user experience, attention to detail, and efficient problem-solving,<strong> I bring </strong> expertise in software engineering to every project. 
										<strong>I value</strong> work-life balance and believe in fostering strong connections and collaboration. 
										</p>
									</div>
									<div class="circle-bts">
										<a href=""><span><i class="icon la la-download"></i>Download CV</span></a>
										
									</div>
								</div>
							</div>
						</div>
						<div class="content skills">
							<div class="row">
								<div class="col col-m-12 col-t-6 col-d-6 col-d-lg-6">

									<!-- title -->
									<div class="title"><span>Languages</span> </div>

									<!-- skills -->
									<div class="skills-list card-box">
										<ul>
											<li> 
												<div class="name">Kazakh</div>
												<div class="progress">
													<div class="percentage" style="width:100%;"></div>
												</div>
											</li>
											<li> 
												<div class="name">Russian</div>
												<div class="progress">
													<div class="percentage" style="width:100%;"></div>
												</div>
											</li>
											<li> 
												<div class="name">Uzbek</div>
												<div class="progress">
													<div class="percentage" style="width:75%;"></div>
												</div>
											</li>
											<li>
												<div class="name">Turkish</div>
												<div class="progress">
													<div class="percentage" style="width:85%;"></div>
												</div>
											</li>
										</ul>
									</div>

								</div>
								<div class="col col-m-12 col-t-6 col-d-6 col-d-lg-6">

									<!-- title -->
									<div class="title"><span>Coding</span> Languages</div>

									<!-- skills -->
									<div class="skills-list card-box">
										<ul>
											<li> 
												<div class="name">HTML</div>
												<div class="progress">
													<div class="percentage" style="width:100%;"></div>
												</div>
											</li>
											<li> 
												<div class="name">CSS</div>
												<div class="progress">
													<div class="percentage" style="width:95%;"></div>
												</div>
											</li>
											<li> 
												<div class="name">JavaScript / Express / Node.JS</div>
												<div class="progress">
													<div class="percentage" style="width:65%;"></div>
												</div>
											</li>
											<li>
												<div class="name">Python /</div>
												<div class="progress">
													<div class="percentage" style="width:85%;"></div>
												</div>
											</li>
											<li>
												<div class="name">React</div>
												<div class="progress">
													<div class="percentage" style="width:75%;"></div>
												</div>
											</li>
											<li> 
												<div class="name">SQL</div>
												<div class="progress">
													<div class="percentage" style="width:65%;"></div>
												</div>
											</li>
										</ul>
									</div>

								</div>
							</div>
						</div>

					</div>
					
						<!--
							Services
						-->
						

							<!-- service items -->
							

								<!-- service item -->
								

								<!-- service item -->
								
								

								<!-- service item -->
								

						<!--
							Price Tables
						-->
						

							<!-- pricing items -->
							
									</div>
								</div>

							</div>

						</div>

						<!--
							Fun Fact
						-->
						<!-- 
							</div>

						</div>

					</div>
					
				</div>
			</div>
			
			
				Card - Resume
			-->
			<div class="card-inner" id="resume-card">
				<div class="row card-container">
						
					<!--
						Card Wrap
					-->
					<div class="card-wrap col col-m-12 col-t-12 col-d-8 col-d-lg-6" data-simplebar>

						<!-- Resume Image -->
						<div class="card-image col col-m-12 col-t-12 col-d-4 col-d-lg-6" style="background-image: url(images/profile2.jpg);"></div>

						<!--
							Inner Top
						-->
						<div class="content inner-top">
							<div class="row">
								<div class=" col col-m-12 col-t-12 col-d-12 col-d-lg-12">
									<div class="title-bg">Resume</div>
								</div>
							</div>
						</div>

						<!--
							Resume
						-->
						<div class="content resume">
							<div class="row">
								<div class="col col-m-12 col-t-6 col-d-6 col-d-lg-6">

									<!-- title -->
									<div class="title"><span>My</span> Experience</div>

									<!-- resume items -->
									<div class="resume-items card-box">

										<!-- resume item -->
										<div class="resume-item">
											<div class="name">Web Development</div>
											<div class="date">2013-Present <span>|</span> Facebook Inc.</div>
											<p>
												Collaborate with creative and development teams on the execution of ideas.
											</p>
										</div>

										<!-- resume item -->
										<div class="resume-item">
											<div class="name">Front-end Developer</div>
											<div class="date">2011-2012 <span>|</span> Google Inc.</div>
											<p>
												Monitored technical aspects of the front-end delivery for several projects.
											</p>
										</div>

										<!-- resume item -->
										<div class="resume-item">
											<div class="name">Senior Developer</div>
											<div class="date">2009-2010 <span>|</span> Abc Inc.</div>
											<p>
												Optimize website performance using latest technology.
											</p>
										</div>

									</div>
								</div>
								<div class="col col-m-12 col-t-6 col-d-6 col-d-lg-6">

									<!-- title -->
									<div class="title"><span>My</span> Education</div>

									<!-- resume items -->
									<div class="resume-items card-box">

										<!-- resume item -->
										<div class="resume-item">
											<div class="name">Art University</div>
											<div class="date">2006-2008 <span>|</span> New York</div>
											<p>
												Bachelor's Degree in Computer Science ABC Technical Institute, Jefferson, Missouri
											</p>
										</div>

										<!-- resume item -->
										<div class="resume-item">
											<div class="name">Programming Course</div>
											<div class="date">2005-2006 <span>|</span> Paris</div>
											<p>
												Bachelor's Degree in Computer Science ABC Technical Institute, Jefferson, Missouri
											</p>
										</div>

										<!-- resume item -->
										<div class="resume-item">
											<div class="name">Web Design Course</div>
											<div class="date">2004-2005 <span>|</span> London</div>
											<p>
												Converted Photoshop layouts to web pages using HTML, CSS, and JavaScript
											</p>
										</div>

									</div>
								</div>
							</div>
						</div>

						<!--
							Skills
						-->
						<div class="content skills">
							<div class="row">
								<div class="col col-m-12 col-t-6 col-d-6 col-d-lg-6">

									<!-- title -->
									<div class="title"><span>Personal</span> Skills</div>

									<!-- skills -->
									<div class="skills-list card-box">
										<ul>
											<li> 
												<div class="name">Communication</div>
												<div class="progress">
													<div class="percentage" style="width:90%;"></div>
												</div>
											</li>
											<li> 
												<div class="name">Team Work</div>
												<div class="progress">
													<div class="percentage" style="width:65%;"></div>
												</div>
											</li>
											<li> 
												<div class="name">Leadership</div>
												<div class="progress">
													<div class="percentage" style="width:75%;"></div>
												</div>
											</li>
											<li>
												<div class="name">Language</div>
												<div class="progress">
													<div class="percentage" style="width:85%;"></div>
												</div>
											</li>
										</ul>
									</div>

								</div>
								<div class="col col-m-12 col-t-6 col-d-6 col-d-lg-6">

									<!-- title -->
									<div class="title"><span>Professional</span> Skills</div>

									<!-- skills -->
									<div class="skills-list card-box">
										<ul>
											<li> 
												<div class="name">WordPress</div>
												<div class="progress">
													<div class="percentage" style="width:90%;"></div>
												</div>
											</li>
											<li> 
												<div class="name">PHP / MYSQL</div>
												<div class="progress">
													<div class="percentage" style="width:65%;"></div>
												</div>
											</li>
											<li> 
												<div class="name">HTML / CSS / JS</div>
												<div class="progress">
													<div class="percentage" style="width:95%;"></div>
												</div>
											</li>
											<li>
												<div class="name">Photoshop</div>
												<div class="progress">
													<div class="percentage" style="width:85%;"></div>
												</div>
											</li>
										</ul>
									</div>

								</div>
							</div>
						</div>

					</div>
					
				</div>
			</div>
			
			<!-- 
				Card - Works
			-->
			<div class="card-inner" id="works-card">
				<div class="row card-container">
					
					<!--
						Card Wrap
					-->
					<div class="card-wrap col col-m-16 col-t-10 col-d-8 col-d-lg-6" data-simplebar>

						<!-- Work Image -->
						<div class="card-image col col-m-6 col-t-8 col-d-4 col-d-lg-6" style="background-image: url('https://i.imgur.com/tqzpKS0.png');"></div>

						<!--
							Inner Top
						-->
						<div class="content inner-top">
							<div class="row">
								<div class="col col-m-12 col-t-12 col-d-12 col-d-lg-12">
									<div class="title-bg">Portfolio</div>
								</div>
							</div>
						</div>

						<!--
							Works
						-->
						<div class="content works">
							<div class="row">
								<div class="col col-m-12 col-t-5 col-d-5 col-d-lg-5">

									<!-- title -->
									<div class="title"><span>My</span> Projects</div>

								</div>
								<div class="col col-m-12 col-t-7 col-d-7 col-d-lg-7">

									<!-- filters -->
									

								</div>
							</div>

							<!-- work items -->
							<div class="row grid-items">

								<!-- work item photo -->
								<div class="col col-m-16 col-t-12 col-d-12 col-d-lg-12 grid-item photo">
									<div class="box-item card-box">
										<div class="image">
											<a href="https://room-muse-23.onrender.com/" >
												<img src="https://i.imgur.com/5eY7H0a.jpg" alt="" />
												<span class="info">
													<span ></span>
												</span>
											</a>
										</div>
										<div class="desc">
											<a href="images/works/work1.jpg" class="name has-popup-image" style="font-size: x-large;">RoomMuse</a>
											<div style="color:#5ac24e;">MongoDB/ Express/ React/ Node.JS/ Semantic UI</div>
											<div>RoomMuse is a scalable MERN stack web app that enables users to discover, share, and review eco-friendly furniture items. It allows you to add, delete, and browse furniture posts while providing valuable feedback to the community.</div>
										</div>
									</div>
								</div>

								<!-- work item video -->
								<div class="col col-m-16 col-t-12 col-d-12 col-d-lg-12 grid-item video">
									<div class="box-item card-box">
										<div class="image">
											<a href="https://vee180.github.io/HangmanGame/" >
												<img src="https://i.imgur.com/TDBefiz.png" alt="" />
												<span class="info">
													<span ></span>
												</span>
											</a>
										</div>
										<div class="desc">
											<a href="https://vee180.github.io/HangmanGame/" class="name has-popup-image" style="font-size: x-large;">Hangman Game</a>
											<div style="color:#5ac24e;">HTML/ CSS/ JavaScript</div>
											<div class="category">Hangman Game is an engaging word game that challenges players to decipher a secret word by guessing its letters within a limited number of attempts. Through a process of deduction and strategy, players aim to unravel the word and achieve victory in this interactive and suspenseful game.</div>
										</div>
									</div>
								</div>

								<!-- work item music -->
								

								<!-- work item design -->
								

								<!-- work item photo -->
								
										
									</div>
								</div>
								
								<!-- work item music -->
								

								<!-- work item video -->
								

								<div class="col col-m-16 col-t-12 col-d-12 col-d-lg-12 grid-item photo">
									<div class="box-item card-box">
										<div class="image">
											<a href="https://deventful.fly.dev/" >
												<img src="https://i.imgur.com/wrHyEWe.jpg" alt="" />
												<span class="info">
													<span ></span>
												</span>
											</a>
										</div>
										<div class="desc">
											<a href="images/works/work1.jpg" class="name has-popup-image" style="font-size: x-large;">DEVentful</a>
											<div style="color:#5ac24e;">HTML/ CSS/ JavaScript/ Python 3/ Django/ PSQL/</div>
											<div >Our collaborative small group project, DEVentful, is an exceptional web application designed to revolutionize event planning. With its innovative features, it simplifies the process of organizing and managing events, offering a diverse selection of vendors. Our ultimate aim is to make event planning effortless, enabling you to fully immerse yourself in and cherish your special day.</div>
										</div>
									</div>
								</div>
								<div class="col col-m-16 col-t-12 col-d-12 col-d-lg-12 grid-item video">
									<div class="box-item card-box">
										<div class="image">
											<a href="https://adorable-erin-sparrow.cyclic.app/" >
												<img src="https://i.imgur.com/COHvJlR.jpg" alt="" />
												<span class="info">
													<span ></span>
												</span>
											</a>
										</div>
										<div class="desc">
											<a href="https://adorable-erin-sparrow.cyclic.app/" class="name has-popup-image" style="font-size: x-large;">Hiking Trails</a>
											<div style="color:#5ac24e;">HTML/ CSS/ JavaScript/ Mongo/ MongoDB/ Express/ Node.JS</div>
											<div >The hiking trail app offers a vast selection of detailed trail information from around the world, including distance, difficulty level, and terrain. Hikers can benefit from fellow hikers' reviews and also contribute by adding new trails to enhance the app's database.</div>
										</div>
									</div>
								</div>
											</div>
										</div>
									</div>
								</div>

							</div>
						</div>
					</div>
				</div>
			</div>
			
			<!-- 
				Card - Blog
			-->
			<div class="card-inner" id="blog-card">
				<div class="row card-container">
						
					<!--
						Card Wrap
					-->
					<div class="card-wrap col col-m-12 col-t-12 col-d-8 col-d-lg-6" data-simplebar>
						
						<!-- Blog Image -->
						<div class="card-image col col-m-12 col-t-12 col-d-4 col-d-lg-6" style="background-image: url(images/profile4.jpg);"></div>
						
						<!--
							Inner Top
						-->
						<div class="content inner-top">
							<div class="row">
								<div class="col col-m-12 col-t-12 col-d-12 col-d-lg-12">
									<div class="title-bg">My Blog</div>
								</div>
							</div>
						</div>

						<!--
							Blog
						-->
						<div class="content blog">
							<div class="row">
								<div class="col col-m-12 col-t-5 col-d-5 col-d-lg-5">

									<!-- title -->
									<div class="title"><span>My</span> Blog</div>

								</div>
								<div class="col col-m-12 col-t-7 col-d-7 col-d-lg-7">

									<!-- filters -->
									<div class="all-blog">
										<a href="blog.html">All Blog</a>
									</div>

								</div>
							</div>

							<!-- blog items -->
							<div class="row">

								<!-- blog item -->
								<div class="col col-m-12 col-t-12 col-d-12 col-d-lg-12">
									<div class="box-item card-box">
										<div class="image">
											<a href="blog-post.html">
												<img src="images/blog/blog1.jpg" alt="" />
												<span class="info">
													<span class="icon la la-newspaper-o"></span>
												</span>
												<span class="date"><strong>20</strong>Jun</span>
											</a>
										</div>
										<div class="desc">
											<a href="blog-post.html" class="name">By spite about do of do allow blush</a>
											<div class="category">Design</div>
										</div>
									</div>
								</div>

								<!-- blog item -->
								<div class="col col-m-12 col-t-12 col-d-12 col-d-lg-12">
									<div class="box-item card-box">
										<div class="image">
											<a href="blog-post.html">
												<img src="images/blog/blog2.jpg" alt="" />
												<span class="info">
													<span class="icon la la-newspaper-o"></span>
												</span>
												<span class="date"><strong>19</strong>Jun</span>
											</a>
										</div>
										<div class="desc">
											<a href="blog-post.html" class="name">Two Before Arrow Not Relied</a>
											<div class="category">Coding</div>
										</div>
									</div>
								</div>

								<!-- blog item -->
								<div class="col col-m-12 col-t-12 col-d-12 col-d-lg-12">
									<div class="box-item card-box">
										<div class="image">
											<a href="blog-post.html">
												<img src="images/blog/blog3.jpg" alt="" />
												<span class="info">
													<span class="icon la la-newspaper-o"></span>
												</span>
												<span class="date"><strong>20</strong>Jun</span>
											</a>
										</div>
										<div class="desc">
											<a href="blog-post.html" class="name">By spite about do of do allow blush</a>
											<div class="category">Travel</div>
										</div>
									</div>
								</div>

							</div>

						</div> 

					</div>
						
				</div>
			</div>
			
			<!-- 
				Card - Contacts
			-->
			<div class="card-inner" id="contacts-card">
				<div class="row card-container">
					
					<!--
						Card Wrap
					-->
					<div class="card-wrap col col-m-12 col-t-12 col-d-8 col-d-lg-6" data-simplebar>
						
						<!-- Map -->
						<div class="card-image col col-m-12 col-t-12 col-d-4 col-d-lg-6">
							<div class="map" id="map"></div>
						</div>
							
						<!--
							Inner Top
						-->
						<div class="content inner-top">
							<div class="row">
								<div class="col col-m-12 col-t-12 col-d-12 col-d-lg-12">
									<div class="title-bg">Contacts</div>
								</div>
							</div>
						</div>

						<!--
							Contacts Info
						-->
						<div class="content contacts-info">
							<div class="row">
								<div class="col col-m-12 col-t-12 col-d-12 col-d-lg-12">

									<!-- title -->
									<div class="title"><span>Get</span> in Touch</div>

								</div>
							</div>

							<!-- contacts items -->
							<div class="row contacts-items">

								<!-- contacts item -->
								<div class="col col-m-12 col-t-6 col-d-6 col-d-lg-6">
									<div class="contacts-item card-box">
										<div class="icon"><i class="la la-map-marker"></i></div>
										<div class="name">Address</div>
										<p>
											USA , New York.
										</p>
									</div>
								</div>

								<!-- contacts item -->
								<div class="col col-m-14 col-t-6 col-d-6 col-d-lg-6">
									<div class="contacts-item card-box">
										<div class="icon"><i class="la la-at"></i></div>
										<div class="name">Email</div>
										<p>
										venerasultann@gmail.com
										</p>
									</div>
								</div>

								<!-- contacts item -->
								

								<!-- contacts item -->
								

							</div>

						</div>

						<!--
							Contacts Form
						-->
						<div class="content contacts-form">
							<div class="row">
								<div class="col col-m-12 col-t-12 col-d-12 col-d-lg-12">

									<!-- title -->
									<div class="title"><span>Contact</span> Form</div>

								</div>
							</div>
							<div class="row">
								<div class="col col-m-12 col-t-12 col-d-12 col-d-lg-12">

									<!-- form -->
									<div class="contact_form card-box">
										<form id="cform" method="post">
											<div class="row">
												<div class="col col-m-12 col-t-6 col-d-6 col-d-lg-6">
													<div class="group-val">
														<input type="text" name="name" placeholder="Full Name" />
													</div>
												</div>
												<div class="col col-m-12 col-t-6 col-d-6 col-d-lg-6">
													<div class="group-val">
														<input type="text" name="email" placeholder="Email Address" />
													</div>
												</div>
												<div class="col col-m-12 col-t-12 col-d-12 col-d-lg-12">
													<div class="group-val">
														<textarea name="message" placeholder="Your Message"></textarea>
													</div>
												</div>
											</div>
											<div class="align-left">
												<a href="venerasultann@gmail.com" class="button" onclick="$('#cform').submit(); return false;">
													<span class="text">Send Message</span>
													<span class="icon"><i class="la la-arrow-right"></i></span>
												</a>
											</div>
										</form>
										<div class="alert-success">
											<p>Thanks, your message is sent successfully.</p>
										</div>
									</div>

								</div>
							</div>
						</div>

					</div>
					
				</div>
			</div>
			
			<!-- 
				Lines Grid
			-->
			<div class="lines-grid" >
				<div class="row">
					<div class="col col-m-12 col-t-6 col-d-4 col-d-lg-3"></div>
					<div class="col col-m-12 col-t-6 col-d-4 col-d-lg-3">
						<div class="lines">
							<div class="line-1"></div>
							<div class="line-2" style="animation-delay: 10s;"></div>
						</div>
					</div>
					<div class="col col-m-12 col-t-6 col-d-4 col-d-lg-3">
						<div class="lines">
							<div class="line-1"></div>
						</div>
					</div>
					<div class="col col-m-0 col-t-0 col-d-0 col-d-lg-3">
						<div class="lines">
							<div class="line-1"></div>
							<div class="line-2" style="animation-delay: 0s;"></div>
						</div>
					</div>
				</div>
			</div>

		</div>
	</div>
	
	<!--
		jQuery Scripts
	-->
	<script src="js/jquery.min.js"></script>
	<script src="js/jquery.validate.js"></script>
	<script src="js/jquery.magnific-popup.js"></script>
	<script src="js/imagesloaded.pkgd.js"></script>
	<script src="js/masonry.pkgd.js"></script>
	<script src="js/masonry-filter.js"></script>
	<script src="js/simplebar.js"></script>
	<script src="js/typed.js"></script>
	
	<!--
		Google map api
	-->
	
	
	<!--
		Main Scripts
	-->
	<script src="js/scripts.js"></script>
	
</body>
</html>